<ul class="navbar">
  <li><a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a></li>
  <li><a [routerLink]="['noticias']" routerLinkActive="active">Noticias</a></li>
  <li><a [routerLink]="['contactanos']" routerLinkActive="active">Contactanos</a></li>
</ul>