.navbar {
  list-style-type: none ;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(246, 117, 199);
}

.navbar li {
  float: left ;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  margin-left: 250px;
  width: 80px;
}

.navbar li a:hover {
  background-color: rgb(175, 90, 179);
}