<div class="container">
  <div>
    <a href="#">
      <li>
        <a [routerLink]="['inicio1']" routerLinkActive="active">Inicio1</a>
      </li>
    </a>

    <a href="#">
      <li>
        <a [routerLink]="['inicio2']" routerLinkActive="active">Inicio2</a>
      </li>
    </a>

    <a href="#">
      <li>
        <a [routerLink]="['inicio3']" routerLinkActive="active">Inicio3</a>
      </li>
    </a>

    <a href="#">
      <li>
        <a [routerLink]="['inicio4']" routerLinkActive="active">Inicio4</a>
      </li>
    </a>

    <a href="#">
      <li>
        <a [routerLink]="['inicio5']" routerLinkActive="active">Inicio5</a>
      </li>
    </a>
  </div>
</div>