.container {
  list-style-type: none ;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(246, 117, 199);
  width: 10%;
  height: 100%;
}

.container li a {
  display: block;
  color: white;
  padding: 30px 0px;
  text-decoration: none;
  margin-left: 50px;
  width: 20px;
}

.container li a:hover {
  background-color: rgb(175, 90, 179);
  width: 40px;
}